.advantages {
  padding: rem-calc(16) 0 0;
  font-size: 18px;
  color: $dark-gray;
  li {
    margin-bottom: rem-calc(10);
    line-height: 1.25;
  }
}

.navigation {
  margin-bottom: rem-calc(10);
  .menu {
    font-size: rem-calc(22);
    li {
      margin-bottom: rem-calc(12);
    }
    a {
      border-width: 0;
      outline: 0;
      line-height: 1.25;
    }
  }
}

.section {
  padding: rem-calc(10) 0;
  .title {
    margin-bottom: rem-calc(20);
  }
}

.catalog-item {
  margin-bottom: rem-calc(20);
  padding: rem-calc(10) 0;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  .cell {
    &:not(:last-child) {
      margin-bottom: rem-calc(20);
    }
  }
  .photo {
    display: block;
    border: 0;
    .inner {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-image: url(../img/shield.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    img {
      width: 100%;
    }
  }
  .details {
    margin-bottom: rem-calc(10);
    .title {
      margin-bottom: rem-calc(10);
      color: $body-font-color;
    }
  }
  .tags {
    .label {
      margin-top: rem-calc(4);
    }
  }
  .costs {
    li {
      line-height: 1.33;
    }
    a {
      border: 0;
    }
    .button {
      margin-bottom: 0;
    }
  }
  .price {
    color: $success-color;
  }
}

.note {
  font-size: rem-calc(15);
  color: $dark-gray;
}

.how-to {
  .to-right {
    margin-bottom: rem-calc(20);
  }
  img {
    width: 100%;
  }
}

.contact {
  .button {
    font-size: rem-calc(13);
    line-height: 1.5;
  }
}

.notice {
  font-size: rem-calc(14);
  p {
    max-width: rem-calc(420);
    margin: 0 auto rem-calc(10);
    line-height: 1.2;
  }
}

.modal {
  .title {
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .subtitle {
    margin-bottom: rem-calc(30);
  }
}
