.footer {
  padding: rem-calc(10) 0 rem-calc(20);
  .callback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.copyright {
  font-size: 14px;
  color: $medium-gray;
}
