.footer {
  padding: rem-calc(10) 0 rem-calc(20);
  .callback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .logo {
    a {
      margin: rem-calc(16) 0 rem-calc(10);
      max-width: 140px;
    }
  }
}

.copyright {
  font-size: 14px;
  color: $medium-gray;
}

.page-footer {
  padding: rem-calc(16) 0;
}
