.header,
.footer {
  position: relative;
  color: $white;
  background-color: $secondary-color;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 20, 100, 0.8);
  }
  a {
    color: $white;
  }
  .inner-content {
    position: relative;
  }
  .callback {
    padding-top: rem-calc(8);
  }
}

.header {
  padding: 10px 0;
}

.callback,
.logo {
  a {
    border-width: 0;
    outline: 0;
  }
}

.logo {
  a {
    max-width: 85px;
  }
}

.callback {
  svg {
    width: 40px;
    fill: $white;
  }
  .mail {
    margin-bottom: rem-calc(20);
    font-weight: $global-weight-normal;
  }
  .icon {
    margin-right: rem-calc(6);
  }
}
