.page {
  padding-top: rem-calc(20);
  .product {
    margin-bottom: rem-calc(10);
  }
  .contact {
    margin-bottom: rem-calc(30);
  }
  .map-container {
    margin: 0 rem-calc(-10);
  }
  .map {
    height: 300px;
  }
}

.breadcrumbs {
  & > li {
    &:first-child {
      a {
        &:before {
          content: '\2190';
          margin-right: rem-calc(6);
        }
      }
    }
  }
  a {
    text-decoration: none;
    &:hover {
      border-color: $dark-gray;
      text-decoration: none;
    }
  }
}

.product .product-info-item {
  margin-bottom: rem-calc(20);
  li {
    line-height: 1.33;
  }
}

.product-info-title {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: rem-calc(4);
  padding: 0 rem-calc(10);
  font-weight: $global-weight-normal;
  color: $white;
  background-color: $success-color;
}

.product-contact {
  margin-bottom: rem-calc(20);
  width: 100%;
  font-size: rem-calc(20);
  line-height: unitless-calc(24, 20);
  li {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: rem-calc(6);
    &:not(:last-child) {
      margin-right: rem-calc(60);
    }
  }
  a {
    border: 0;
    color: $black;
  }
}

.product-contact-phone {
  font-weight: $global-weight-bold;
}

.product-gallery {
  a {
    border: 0;
  }
  .thumbnail {
    margin-bottom: 0;
  }
}

.contact-title {
  text-transform: uppercase;
}
