<footer class="footer">
  <div class="inner-content">
    <div class="row text-center large-text-left" data-equalizer data-equalize-on="medium">
      <div class="large-8 columns">
        <div data-equalizer-watch>
          <div class="logo-container">
            <div class="page-title title h1">Аренда офисов Пермь</div>
            <div class="logo">
              <a href="/">
                <img src="assets/img/logo.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="large-4 columns large-text-right">
        <div class="callback" data-equalizer-watch>
          <div>
            <a href="tel:+73422590440" class="phone h3">+7&nbsp;(342)259-04-40</a>
            <br>
            <a href="mailto:arenda.mangust@yandex.ru" class="mail h4">arenda.mangust@yandex.ru</a>
          </div>
          <div class="copyright">&copy; Все права защищены ООО "Мангуст" 2018</div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.inner-content -->
</footer>
<!-- /.footer -->