<header class="header">
  <div class="inner-content">
    <div class="row">
      <div class="medium-6 columns">
        <h1 class="title">Аренда офисов Пермь</h1>
        <div class="logo">
          <a href="/">
            <img src="assets/img/logo.png" alt="">
          </a>
        </div>
      </div>
      <div class="medium-6 columns text-right">
        <div class="callback">
          <a href="tel:+73422590440" class="phone h3">+7&nbsp;(342)259-04-40</a>
          <br>
          <a href="mailto:arenda.mangust@yandex.ru" class="mail h4">arenda.mangust@yandex.ru</a>
          <br>
          <button type="button" class="success button large">Заказать обратный звонок</button>
          <div class="text">
            <img src="assets/img/shield.png" alt=""> Гарантия безопасности сделок
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.inner-content -->
</header>
<!-- /.header -->