<div class="modal reveal text-center" id="modal" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <h4 class="title">ЗАКАЗ ОБРАТНОГО ЗВОНКА</h4>
  <h5 class="subtitle subheader">Заполните форму и ниже и мы перезвоним Вам - это
    <span class="text-up">БЕСПЛАТНО</span>
  </h5>
  <form>
    <input type="text" placeholder="Введите номер телефона">
    <button type="button" class="success button expanded">Перезвоните мне</button>
    <div class="notice text-center">
      <p>Ваши данные под защитой! Не будут переданы третьим лицам и использованы для спама.</p>
      <p>Отправляя заявку Вы автоматически соглашаетесь с
        <a href="#">политикой конфиденциальности данных.</a>
      </p>
    </div>
  </form>
  <button class="closer close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>